[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
websockets = "*"
lettercase = "*"
yarl = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-asyncio = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "python -m pytest"
